body {
  margin: 0;
  overflow-x: hidden;
  font-weight: normal;
  font-family: "Segoe UI", "Segoe", "SegoeUI-Regular-final", Tahoma, Helvetica,
    Arial, sans-serif;
}

$theme: #020220;
$theme--dark: #2600ff;




body {
  margin: 0;
  overflow-x: hidden;
  background-color: white;
  color: black;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(42, 19, 80);
    color: rgb(255, 255, 255);
  }
}